{% extends 'base.html' %}

{% block content %}
  <h1>{% if object %}Edit{% else %}New{% endif %} Device</h1>
  <form method="post" novalidate>{% csrf_token %}
    <div class="form-group">
      <label for="device_type">Type:</label>
      <select class="form-control" id="device_type" name="device_type">
        {% for type, name in form.fields.device_type.choices %}
          <option value="{{ type }}" {% if form.device_type.value == type %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" name="state" value="{{ form.state.value|default_if_none:'' }}">
    </div>
    <div class="form-group">
      <label for="mqtt_topic">MQTT Topic:</label>
      <input type="text" class="form-control" id="mqtt_topic" name="mqtt_topic" value="{{ form.mqtt_topic.value|default_if_none:'' }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'iot:device_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
